.motherboard{
    display: flex;
    flex-direction: column;
}
div{
    height: 643px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
h3{
    color: white;
    text-align: center;
}
p{
    color: white;
    font-size: 15px;
    padding: 5px;
}