<section class="motherboard">
    <div>
        <img src="https://www.venex.com.ar/products_images/1585334803_gigabyte_a320mh_am4.png" alt="">
    </div>
        <h3>Descripción</h3>
        <p>​La interfaz BIOS mejorada también tiene las características avanzadas que se ven en la interfaz de usuario Smart Fan 5, tales   como: la capacidad de configurar disparadores basados ​​en diferentes sensores de temperatura en el tablero, la definición de la curva del ventilador y la configuración del intervalo de temperatura, que pueden evitar el ruido de rotación del ventilador causado por un cambio repentino de temperatura, todo sin tener que cargar Windows.
            CPU: Socket AM4 - Compatible con 3° Gen (2° y 1° mediante downgrade de BIOS)
            Memoria: Hasta 32Gb DDR4 3200Mhz</p>

</section>